---
import Servicesmain from "../components/Servicesmain.astro"
---

<div class="landing-page">
    <Servicesmain />
    
    
</div>

<style>
.landing-page {
    text-align: center;
    padding: 20px;
}

</style>