---
import  Layout  from '../layouts/Layout.astro';
---

<Layout>

    <div class="container">
        <h1 class="my-5 text-center">⚠️ Legal Disclaimer</h1>
        <h3 class="my-3">Effective Date: July 5th 2025</h3>
        <p>The information and services provided on this website are offered by Sharguidev, a digital services provider in Costa Rica. By using this site, you accept the following terms:</p>
        <h2 class="mt-4">1. Intellectual Property</h2>
        <p> All designs, code samples, content, and branding are the intellectual property of Sharguidev unless otherwise stated. Unauthorized use is prohibited.       </p>
    
    
        <hr>
        <h2 class="mt-4">2. Limitation of Liability</h2>
        <p>While we strive to ensure high-quality service, Sharguidev is not liable for any direct or indirect loss resulting from the use or inability to use our website or services.</p>
        <hr>
        <h2 class="mt-4">3. Service Scope</h2>
        <p>Our services are offered as described. Final project outcomes will be subject to mutual agreement and documented scope.</p>
        <hr>
        <h2>4. External Links</h2>
        <p>
        This site may contain links to third-party sites. We are not responsible for their content or privacy practices.
        </p>
        <hr>
        
        <div class="btn-group">
            <button onclick="window.location.href='/#rock-contact'">Contact Me</button>
            <button onclick="window.location.href='/ServicesP'" >Go to Services</button>
        </div>
    </div>
</Layout>


<style>

    
    .btn-group {
        display: flex;
        justify-content: center;
        margin: 5% auto;
        gap: 20px;
    }
    button {
        background-color: #344E41;
        color: white;
        border: none;
        padding: 10px 20px;
        width: fit-content;
        font-size: 16px;
        border-radius: 5px;
    }
</style>