---
import  Layout  from '../layouts/Layout.astro';
import "./../css/index.css"
---

<Layout
    title="Custom Website Development | Sharguidev"
    description="Professional web development services for small businesses and startups. Fast, responsive, and SEO-friendly websites."
    canonical="https://sharguidev.com/PrivacyPolicy"
>

    <div class="container">
        <h1 class="my-5 text-center">📜 Privacy Policy</h1>
        <p>At Sharguidev, we respect your privacy and are committed to protecting the personal data you share with us. This Privacy Policy outlines how we collect, use, and protect your information.</p>
        <h2 class="mt-4">1. Information We Collect</h2>
        <p>We collect:
            <ul>
                <li>Your <strong>name</strong></li>
                <li>Your <strong>email address</strong></li>
            </ul>
            This happens when you contact us, subscribe, or express interest in our services.
        </p>
    
        <hr>
        <h2 class="mt-4">2. Why We Collect It</h2>
        <p>We use your data to:
            <ul>
                <li>Respond to your inquiries</li>
                <li>Provide you with releant service information</li>
                <li>Improve communication with our clients and leads</li>
            </ul>
            We do not sell, rent, or share your personal information with third parties.
        </p>
    
        <hr>
        <h2 class="mt-4">3. Data Storage and Protection</h2>
        <p>Your information is stored securely and only accessible by authorized personnel. We implement standard security measures to protect your data.</p>
        <hr>
        <h2 class="mt-4">4. Your Rights</h2>
        <p>You can:
            <ul>
                <li>Request access to your data</li>
                <li>Request correction or deletion of your data</li>
                <li>Withdraw consent at any time</li>
            </ul>
            To do so, contact us at info@sharguidev.com
        </p>
        <hr>
        <h2>5. Cookies and Tracking</h2>
        <p>
            Currently, our site does not use cookies or trackers. If this changes, we’ll update this policy.
        </p>
        <hr>
        <h2>6. Legal Compliance</h2>
        <p>
            We comply with Costa Rican Law 8968 and other applicable international data protection laws.
        </p>
        <hr>
        
        
        
        <div class="btn-group">
            <button onclick="window.location.href='/#rock-contact'">Contact Me</button>
            <button onclick="window.location.href='/ServicesP'" >Go to Services</button>
        </div>
    </div>
</Layout>


<style>
    .btn-group {
        display: flex;
        justify-content: center;
        margin: 5% auto;
        gap: 20px;
    }
    button {
        background-color: #344E41;
        color: white;
        border: none;
        padding: 10px 20px;
        width: fit-content;
        font-size: 16px;
        border-radius: 5px;
    }
</style>