---
import  Layout  from '../layouts/Layout.astro';
---

<Layout>

    <div class="container">
        <h1 class="mt-4">Terms & Conditions</h1>
        <h4>Welcome to Sharguidev! By using our services, you agree to the following terms and conditions:</h4>
        <h2 class="mt-4">1.  Services and Packages</h2>
        <p>1.1 Each service package includes specific deliverables as described on the website and during the consultation process. For example, the UX/UI package includes a high-quality design, a custom color palette, and up to two additional revisions.
            <br><br>
            1.2 You are responsible for selecting the package that best fits your project requirements. If you are unsure which package suits your needs, we encourage you to contact us for guidance before placing an order.
            <br><br>
            1.3 Custom packages can be arranged if existing packages do not align with your requirements. These will be subject to separate agreements and pricing.
        </p>
    
        <hr>
        <h2 class="mt-4">2. Process and Revisions</h2>
        <p>2.1 Upon selecting a package, we will schedule a discussion to define project goals, design preferences, payment schedules, and any other relevant details.
              <br><br>
           2.2 During development, you will receive progress updates.
                <br><br>
           2.3 Each package includes two (2) additional revisions. Any further revisions beyond this allotment will incur an additional fee, to be agreed upon before the work is undertaken.
        </p>
    
        <hr>
        <h2 class="mt-4">3. Payments</h2>
        <p>3.1 To initiate any project, a deposit equal to fifteen percent (15%) of the total project cost is required. The remaining balance must be paid according to the milestones or upon completion of project phases as agreed in writing.</p>
        <p>3.2 Accepted payment methods include PayPal, and bank transfers to BAC, Banco Nacional, and Grupo Mutual.</p>
        
        <hr>
        <h2 class="mt-4">4. Timeline</h2>
        <p>4.1 Project timelines are dependent on the scope and complexity of your project.</p>
        <p>4.2 For reference, basic UX/UI design projects typically require up to three (3) business days, whereas full-stack development projects may take several weeks or months.</p>
        <p>4.3 A specific timeline will be established and confirmed before project commencement.</p>
        <hr>
        <h2>6. Mobile Responsiveness</h2>
        <p>
        All designs and developments are fully responsive and optimized for all devices.
        </p>
        <hr>
        <h2>7. Post-Completion Support</h2>
        <p>
        Free troubleshooting support is provided after launch. Additional services like feature updates, color changes, or layout adjustments may incur an extra charge.
        </p>
        <hr>
        <h2>8. Website Edits</h2>
        <p>
        Minor changes may be made for free depending on availability. Major edits will be billed. If a third party makes changes, I will not be responsible for resulting issues, though I may test and approve them.
        </p>
        <hr>
        <h2>9. Liability</h2>
        <p>Sharguidev will not be liable for any loss or damages arising from:</p>
        <ul>
            <li>Delays caused by circumstances outside our control.</li>
            <li>Issues arising from client-supplied content or third-party modifications.</li>
            <li>Use or misuse of delivered materials beyond the scope of our engagement.</li>
        </ul>
        <hr>
        <h2>10. Termination</h2>
        <p>
        Projects can be terminated by the client at any time in writing. The deposit is non-refundable. Work completed up to the point of termination will be billed.
        </p>
        <hr>
        <h2>11. Intellectual Property</h2>
        <p>
        Upon final payment, the client will own the final product. I reserve the right to showcase the project in my portfolio.
        </p>
        <hr>
        <h2>12. Agreement</h2>
        <p>
        By hiring my services, you confirm that you have read, understood, and agreed to these Terms & Conditions.
        </p>
        <hr>
        
        <div class="btn-group">
            <button onclick="window.location.href='/#rock-contact'">Contact Me</button>
            <button onclick="window.location.href='/ServicesP'" >Go to Services</button>
        </div>
    </div>
</Layout>


<style>
    .btn-group {
        display: flex;
        justify-content: center;
        margin: 5% auto;
        gap: 20px;
    }
    button {
        background-color: #344E41;
        color: white;
        border: none;
        padding: 10px 20px;
        width: fit-content;
        font-size: 16px;
        border-radius: 5px;
    }
</style>