---
import Layout from "../layouts/Layout.astro";

interface Service {
  title: string;
  price: string;
  description: string[];
}


const services : Service[] = [
            {
                title: "UI/UX Design",
                price: "$100 per day",
                description: [
                    "Meeting 1:1",
                    "Clean User-friendly and visually appealing designs",
                    "Prototypes to visualize ideas before building",
                    "Focus on your brand's identity and goals",
                    "Designs that look good on all devices",
                ]
                
                
            },
            {
                title: "Frontend Development",
                price: "$250 per day",
                description: [
                    "Meeting 1:1",
                    "Custom websites tailored to your brand",
                    "Mobile-friendly designs",
                    "Fast loading times for a better user experience",
                    "Built with modern tools for performance and scalability"
                ]
            
                
            },
            {
                title: "Backend Development",
                price: "$350 per day",
                description: [
                    "Meeting 1:1",
                    "Smooth and secure website functionality",
                    "Set up user accounts, contact forms, and more",
                    "Manage and store data safely",
                    "Reliable performance even as your site grows"
            ]
            },
            {
                title: "Bundle 1",
                price: "Starts in $2800",
                description: [
                    "Meeting 1:1",
                    "UX/UI Design",
                    "Frontend Development"
                    
                    
            ]
            },
            {
                title: "Bundle 2",
                price: "Starts in $4200",
                description: [
                    "Meeting 1:1",
                    "UX/UI Design",
                    "Frontend Development",
                    "Backend Development",
                    "SEO Optimization"
            ]
            },
            // {
            //     title: "Bundle 3",
            //     price: "Starts in $5000",
            //     description: [
            //         "Meeting 1:1",
            //         "UX/UI Design",
            //         "Frontend Development",
            //         "Backend Development",
            //         "SEO Optimization",
                    
            // ]
            // }
        ];
       
---

<Layout>
  <div class="services-page">
    <h1 class="mt-5">Welcome to the Services Page!</h1>
    <p>I'll be happy to help you turn your ideas into reality</p>
    <div class="cards d-flex flex-wrap">
      {services.map((service: Service) => (
        <div class="card" >
          <div class="card-body">
            <h3 class="card-title">{service.title}</h3>
            <p class="card-price">{service.price}</p>
            <ul class="card-description">
              {service.description.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
            <a href="/#rock-contact" class="btn-rock">Let’s Rock 🎸</a>
          </div>
        </div>
      ))}
    </div>
  </div>

  
</Layout>

<style>
  .services-page {
    text-align: center;
    /* padding: 20px; */
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 cards per row */
    gap: 20px; /* Adjust spacing between cards */
    justify-content: center;
  }


  .card {
     width: 20rem;
        height: fit-content;
        margin-left: 20px;
        margin-top: 20px;
        border: none;
        box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -webkit-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -moz-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        color: rgb(5, 5, 5);
        border-radius: 8px;
    
  }

  .card-title {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-price {
    font-size: 1.2rem;
    color: #588157;
    margin-bottom: 10px;
  }

  

  .card-description {
        text-align: left;
        margin-bottom: 10%;
        list-style: circle;
        color: grey;
        font-size: 0.9rem;
    }

 

  .btn-rock {
        background-color: #344E41;
        color: #ffffff;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px auto; /* Center the button */
        text-decoration:none;
    }

    .container-FAQservices{
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -webkit-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -moz-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
    }
</style>
