<div class="container" id="about-me">
    <h1 class="title mt-5">
        About Me
    </h1>
    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./src/assets/fotoCV.png" class="img-fluid rounded-circle mt-2" alt="..." style="width: 200px; height: 200px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Short Introduction 🧔🏽</h5>
                    <p class="card-text"> I’m a passionate full-stack developer with experience in building dynamic and responsive web applications. I love bringing ideas to life through clean code and thoughtful design. Let’s build something awesome together!</p>
                    <p class="card-title" style="font-weight: bold; font-size: 18px; margin-left: 50px; margin-bottom: 15px ">Wanna know more?</p>
                    <div class="buttons">
                        <a href="/Nutshell" class="btn-nutshell">Me in a 🥜</a>
                        <a href="#rock-contact" class="btn-rock">Let’s Rock 🎸</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    .container {
        max-width: 100%;
        font-family: "Inter";
        height: 500px;
        background-color: rgba(163, 177, 138, 0.3); /* Color verde con 80% de opacidad */   
        position: relative;
        padding-top: 2px;
        margin-top: 20px; 
        box-sizing: border-box; 
    }
    
    .title {
        position: relative;
        margin-top: 10px;
        text-align: start;
        margin-left: 15%;
        margin-bottom: 2%;
        font-size: 28px;
        font-weight: bold;
    }

    .card {
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        width: 69%;
        margin-left: 10px;
    }

    .card-title {
        text-align: start;
    }
    .card-text {
        margin-top: 2%;
        text-align: start;
    }

    .buttons {
        display: flex;
        gap: 10px;
       
    }
    .btn-nutshell {
        background-color: #344E41;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;;
    }
    .btn-rock {
        background-color: #344E41;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        
        .container {
            width: 100%;
            height: 100%;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 15px;
        }
        .title{
            text-align: center;
            margin-left: 5%;
            margin-bottom: 10px;
            
        }
        .card {
            width: 90%;
            height: fit-content;
            margin-left: 0;
        }
        .title {
            text-align: center;
            margin-right: 0;
        }
    }
</style>