<div class="container" style="background-color: #A3B18A; opacity=0.3" >
<h1>
    About Me
</h1>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    .container {
        max-width: 100%;
        font-family: "Inter";
        margin-top: 10%;
        
    }

    h1{

    }
</style>