<div class="container">

    <div class="container-proFAQs">

        <h2 class="titleNTF">Professional FAQs 🧑🏾‍💻</h2>
            <div id="faqservices" class="container-FAQservices mt-5">
                    <div class="accordion" id="faq-section">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is included in each package?
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faq-section" id="accordionItem">
                            <div class="accordion-body">
                                Each package includes specific services tailored to your needs. For example, the UX/UI package includes high-quality design, a color palette of your preference and 2 extra revisions. Check the package details to find the best fit for your project.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How do I know which package is right for me?
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faq-section" >
                        <div class="accordion-body">
                            If you're unsure, consider the complexity of your project. If you only need a design, the UX/UI package is ideal. If you need a complete website, a Full Stack package would be better. Feel free to contact me for guidance.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#customize" aria-expanded="false" aria-controls="collapseThree">
                            Can I customize my package?
                        </button>
                        </h2>
                        <div id="customize" class="accordion-collapse collapse" data-bs-parent="#faq-section">
                        <div class="accordion-body">
                            Yes! If none of the packages fit your exact needs, we can discuss a custom solution tailored to your requirements.
                            </div>
                        </div>
                    </div>
    </div>
                
                
            </div>
        </div>
</div>

<style>

    .container {
        max-width: 100%;
        background-color: rgba(163, 177, 138, 0.3);
        overflow: hidden;
    }

    .container-proFAQs {
        margin: 5% auto;
        width: 70%;
    }

    .titleNTF {
        margin: 5% 0% 2% 75%;
        font-weight: bold;
    }
</style>