<div class="container">

    <div class="container-proFAQs">

        <h2 class="titleNTF">Professional FAQs 🧑🏾‍💻</h2>
            <div id="faqservices" class="container-FAQservices mt-5">
                    <div class="accordion" id="faq-section">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#inspiration" aria-expanded="true" aria-controls="collapseOne">
                            What inspired you to become a developer?
                        </button>
                        </h2>
                        <div id="inspiration" class="accordion-collapse collapse show" data-bs-parent="#faq-section" id="accordionItem">
                            <div class="accordion-body">
                                If I have to be honest, the reason is money 💰. I wanted to have a stable income and the freedom to work on projects that interest me. I also love the challenge of solving problems and creating something from scratch.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lesson" aria-expanded="false" aria-controls="collapseTwo">
                            What's the most valuable lesson you've learned in your life as a Software Engineer?
                        </button>
                        </h2>
                        <div id="lesson" class="accordion-collapse collapse" data-bs-parent="#faq-section" >
                        <div class="accordion-body">
                            I think the most valuable lesson is to take things slowly and not rush into things. It's important to take the time to understand the problem and find the best solution. Also, never stop learning! The tech world is always evolving, and staying updated is crucial.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#customize" aria-expanded="false" aria-controls="collapseThree">
                            What’s your favorite technology stack to work with?
                        </button>
                        </h2>
                        <div id="customize" class="accordion-collapse collapse" data-bs-parent="#faq-section">
                        <div class="accordion-body">
                            My favorite technology stack is the ARN stack (Astro, React, and Node.js). But as a Frontend enthusiast, I use Astro more than anyone else.
                            </div>
                        </div>
                    </div>
    </div>
                
                
            </div>
        </div>
</div>

<style>

    .container {
        max-width: 100%;
        background-color: rgba(163, 177, 138, 0.3);
        overflow: hidden;
    }

    .container-proFAQs {
        margin: 5% auto;
        width: 70%;
    }

    .titleNTF {
        margin: 5% 0% 2% 75%;
        font-weight: bold;
    }

     @media (max-width: 1293px) { 

        .container {
            overflow: hidden;
        }

        .titleNTF {
            margin-left: 30%;
            padding-top: 3%;
        }

    }
    
</style>