---
// import "./../../styles/footer.css";
---


		<div class="container-footer mt-5">
			<footer class="pie-pagina">
				<div class="grupo-1">
					<div class="box">
						<figure class="imagen">
							<a href="#">
								<img alt="imagen" src="" />
							</a>
						</figure>
					</div>
                    <div class="box">
                        <h2>Siguenos</h2>
                        <div class="red-social">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </div>
                    </div>
					<div class="box">
						
						<ul>
                            <li><a href="#">Legal Warning</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookies Policy</a></li>
                            <li><a href="#">Quality Policy</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
					</div>
				</div>

				<div class="grupo-2">
					<small>&copy; 2025 <b>Sharguidev</b> - All rightt reserved.</small>
				</div>
			</footer>
		</div>
	

