<div class="container">

    <div class="container-proFAQs">

        <h2 class="titleNTF">Personal & Fun FAQs😜 </h2>
            <div id="faqservices" class="container-FAQservices mt-5">
                    <div class="accordion" id="ffaq-section">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#profession" aria-expanded="true" aria-controls="collapseOne">
                            If you weren't a developer, what you be doing?
                        </button>
                        </h2>
                        <div id="profession" class="accordion-collapse collapse show" data-bs-parent="#ffaq-section" id="accordionItem">
                            <div class="accordion-body">
                                If I weren't a developer, I'd probably be a psychologist. I love helping other with their problems and understanding how people think. It's fascinating to me! I just love to listen, when anyone needs that.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#beverage" aria-expanded="false" aria-controls="collapseTwo">
                           Coffe or tea?☕🍵
                        </button>
                        </h2>
                        <div id="beverage" class="accordion-collapse collapse" data-bs-parent="#ffaq-section" >
                                <div class="accordion-body">
                                    Definitely coffee! I love the aroma and the energy boost it gives me. Plus, there's nothing like a good cup of coffee to start the day or keep me going during long coding sessions. But its tricky, because I also enjoy a good cup of tea, especially when I want to relax or wind down after a long day, <strong>but I will stay with coffee</strong> 
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Splay" aria-expanded="false" aria-controls="collapseThree">
                            If you could travel anywhere in the world right now, where would you go? ✈️
                        </button>
                        </h2>
                        <div id="Splay" class="accordion-collapse collapse" data-bs-parent="#ffaq-section">
                            <div class="accordion-body">
                                Definitely Italy 🇮🇹. I've always wanted to explore the rich history, art, and culture of this beautiful country. From the ancient ruins of Rome to the stunning canals of Venice and the breathtaking landscapes of Tuscany, there's so much to see and experience. Plus, I can't wait to indulge in authentic Italian cuisine! 🍕🍝
                            </div>
                        </div>
                    </div>
    </div>
                
                
            </div>
        </div>
</div>

<style>

    .container {
        max-width: 100%;
        
        overflow: hidden;
    }

    .container-proFAQs {
        margin: 5% auto;
        width: 70%;
    }

    .titleNTF {
        font-weight: bold;
    }
</style>