<div class="container">
    
 <h2 class="subti">Professional 🧑🏾‍💻</h2>

 <div class="card mb-3" >
      <div class="row g-0">
          <div class="col-md-8">
              <div class="card-body ">
                 
                  <p class="card-text">Here I learned everything that takes to be a Full-Stack Developer, technologies such as React, JavaScript, Flux, Flask API, Python, PostgreSQL, correct ways to implement Bootstrap
                        I’m a Full-Stack Developer with a passion for UI/UX design, focused in Frontend development, but I can do Backend as well but first I have to grab a cup of Coffee ☕. I enjoy turning ideas into smooth and functional web experiences using React, Bootstrap, CSS, and Figma.
                        <br><br>
                        I believe that great design meets great functionality, and I strive to build user-friendly, efficient, and visually appealing applications. Whether it's designing sleek interfaces.
                        I’m always up for the challenge!
                        <br><br>
                        🚀 Let’s build something amazing together!
                    </p>
                    
                </div>
            </div>
            <div class="col-md-4">
               <img src="./src/assets/programacion.png" class="figure rounded-circle mt-4"  >
            </div>
        </div>
        <button class="rocket">Reach me Out 🚀</button>
    </div>
</div>

<style>
    .container {
        max-width: 100%;
        background-color: rgba(163, 177, 138, 0.3);
        overflow: hidden;
    }
    
    .subti {
        margin-left: 10%;
        margin-top: 2%;
        font-weight: bold;
    }

    .card {
        
        background-color: transparent;
        border: none;
        margin: 0 auto;
        width: 70%;
    }

    .figure {
        width: 300px;
        height: 300px;
        margin-left: 10%;
    }

    .subtitle2 {
        font-weight: bold;
        
    }

    .rocket {
        background-color: #344E41; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        width: fit-content;
    }


</style>