<div class="greeting mt-5">
    <h1>Let’s Rock 🎸</h1>           
</div>
<div class="container">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="John Doe" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="JoDOe@gmail.com" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Email Address</label>
            <textarea  class="form-control" id="email" placeholder="Example: Hello! I was wonderig if we can schedule a google meet to talk about my project." required/>
          </div>
        
        <button type="submit" class="btn-submit">Let’s Rock 🎸</button>
      </form>
</div>


<style>

.container {
    max-width: 80%;
    font-family: "Inter";
    height: fit-content;
    position: relative;
    padding-top: 5%;
    margin-bottom: 10%;
    border-radius: 20px;
    box-shadow: -2px 2px 47px 3px rgba(148,146,146,0.75);
    -webkit-box-shadow: -2px 2px 47px 3px rgba(148,146,146,0.75);
    -moz-box-shadow: -2px 2px 47px 3px rgba(148,146,146,0.75);
}


 .greeting {
        text-align: end;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 2%;
        
        
    }
    
    .greeting h1 {
        font-size: 1.75rem; /* Increase font size */
        margin-left: -140px;
        font-weight: bold;
        
    }    
  
    .greeting p{
        margin-left: -50px;
    }


    label {
        display: flex;
        align-items: center;;
    }

    .btn-submit {
        background-color: #344E41;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 30%;
        margin-bottom: 10px;
    }

</style>