
    <section class="about-services">
        <div class="greeting">
            
                <h1>Hello 👋🏾 </h1> 
                <h2> I’m Guillermo Obando</h2>
            
        </div>
    </section>


<style>
    .about-services {
        max-width: 80%;
    }

    .greeting {
        margin-left: -45%;
        margin-top: 25px;
    }

    .greeting h1 {
        font-size: 2.5rem; /* Increase font size */
        margin-left: -145px

        
    }
    .greeting h2 {
        font-size: 1.75rem; /* Increase font size */
        font-weight: normal;
        color; #333;
        margin-top: 0.5rem;
        
    }


    .container-about h1 {
        font-size: 2.5rem; /* Increase font size */
        color: #093918;
        text-align: center;
        font-weight: bold; /* Make the text bold */
        line-height: 1.5; /* Add spacing between lines */
    }
</style>