---
interface Service {
        title: string;
        description: string;
        icon: string;
    }
    let services : Service[] = [
        {
            title: "Frontend Development",
            description: "I create beautiful, fast, and mobile-friendly websites that make your business stand out online.",
            icon: "fa-solid fa-laptop"
        },
        {
            title: "Backend Development",
            description: "I make sure everything behind your website runs smoothly—like contact forms, databases, and user logins—so your site works perfectly.",
            icon: "fa-solid fa-server"
            
        },
        {
            title: "UI/UX Design",
            description: "I design websites that are easy to use and look great, giving your visitors a smooth and enjoyable experience.",
            icon: "fa-solid fa-paint-brush"
        }
    ];
    import BacktoTop from "./BacktoTop.astro";
---



    <div class="container">
        <div class="greeting mt-5">
                <h1>Hello 👋🏾 </h1> 
                <h2> I’m Guillermo Obando</h2>
                <p class="mt-3 ">Available to help you with:</p>            
        </div>
        <div class="cards d-flex flex-direction-column justify-content-center align-items-center">
            {services.map((service) =>(
                <div class="card" style="width: 18rem; height: 15rem;">
                    <div class="card-body">
                    <div class="card-icon">
                      <i class={service.icon}></i>
                    </div>
                      <h4 class="card-title mt-3 mb-4" style="font-weight: bold; font-size: 16px; ">{service.title}</h4>
                      <p class="card-text" style="color: grey; font-size: 14px;">{service.description} </p>
                      
                    </div>
                </div>
            ))}
        </div>
        <button onclick="window.location.href='#rock-contact'" class="btn-reach">Reach me Out  🫶🏾</button>
        
    </div>



<style>
   
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


    .container {
        max-width: 100%;
        font-family: "Inter";
        padding-top: 40px;
    }

    
    .greeting {
        margin:5% 50% 2% 3%;
    }
    
    .greeting h1 {
        font-size: 1.75rem; /* Increase font size */
        margin-left: -140px;
        font-weight: bold;
        
        
    }
    .greeting h2 {
        font-size: 1.50rem; /* Increase font size */
        margin-top: 0.5rem;
        font-weight: bold;
        
    }
    
    .greeting p{
        margin-left: -50px;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        
    }

    .card{
        width: 20rem;
        margin-left: 20px;
        margin-top: 20px;
        border: none;
        box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -webkit-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -moz-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        color: rgb(5, 5, 5);
        border-radius: 8px;
        
    }

    .card-icon {
        font-size: 1.5rem;
        background-color: #84A98C;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }

    .card-body {
        display: flex;
        flex-direction: column; /* Use flexbox for layout */
        align-items: flex-start; /* Align items vertically */
        /* Add spacing between the icon and text */
    }


    .card-text{
        margin-top: -15px;
        text-align: left;
    }

    .btn-reach {
        background-color: #344E41;
        color: white;
        border: none; 
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        margin:5% 51% 2% 0%;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

    @media (min-width: 375px) and (max-width: 701px) {
       

        .btn-reach {
           margin: 10% auto;
        }

        .container .greeting {
            text-align: center;
             margin: 10% auto;
            
        }
    }

    @media (min-width: 1294px)  {
       

       .btn-reach {
           margin-top: 5%;
       }

       .btn-reach {
           margin: 10% 65% 2% 2%;
        }

        .container .greeting {
            text-align: center;
             margin: 10% 65% 2% 8%;
            
        }

       
   }

    
</style>

