---
interface Service {
        title: string;
        price: string;
        description: string;
        
        
    }
    let services : Service[] = [
        {
            title: "Frontend Development",
            price: "$250 per day",
            description: "I create beautiful, fast, and mobile-friendly websites that make your business stand out online.",
        
            
        },
        {
            title: "Backend Development",
            price: "$350 per day",
            description: "I make sure everything behind your website runs smoothly—like contact forms, databases, and user logins—so your site works perfectly.",
           
            
            
        },
        {
            title: "UI/UX Design",
            price: "$100 per day",
            description: "I design websites that are easy to use and look great, giving your visitors a smooth and enjoyable experience.",
            
            
        }
    ];
---



    <div class="container" id="services">
        <div class="greeting mt-5">
                <h1>Services</h1> 
                <p >I'm a passionate developer ready to rock your porojects</p>            
        </div>
        <div class="cards d-flex flex-direction-column justify-content-center align-items-center">
            {services.map((service) =>(
                <div class="card" style="width: 20rem; ">
                   
                    <div class="card-body">
        
                      <h4 class="card-title mt-3 mb-2" style="font-weight: bold; font-size: 24px; ">{service.title}</h4>
                      <h5 class="card-title  mb-4" style="font-weight: bold;">{service.price}</h5>
                      <p class="card-text" style="color: grey; font-size: 14px;">{service.description} </p>
                      <button class="btn-rock">Let’s Rock 🎸</button>
                    </div>
                </div>
            ))}
        </div>
        <button class="btn-reach">Peek Inside 💆🏾</button>
    </div>



<style>
   
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


    .container {
        
        max-width: 100%;
        font-family: "Inter";
        height: 550px;
        background-color: rgba(163, 177, 138, 0.3); /* Color verde con 80% de opacidad */   
        position: relative;
        padding-top: 2px;
        margin-top: 20px;
    
    }

    
    .container .greeting {
        text-align: start;
       margin-left: 9%;
        margin-top: 25px;
        
        
    }
    
    .greeting h1 {
        font-size: 1.75rem; 
        font-weight: bold;
        
    }    
  
   
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        
    }

    .card{
        width: 20rem;
        height: fit-content;
        margin-left: 20px;
        margin-top: 20px;
        border: none;
        box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -webkit-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        -moz-box-shadow: -2px 6px 49px -13px rgba(0,77,38,0.75);
        color: rgb(5, 5, 5);
        border-radius: 25px;
        
    }

    .card-icon {
        font-size: 1.5rem;
        background-color: #84A98C;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }

    .card-body {
        display: flex;
        flex-direction: column; /* Use flexbox for layout */
        align-items: flex-start; /* Align items vertically */
        /* Add spacing between the icon and text */
    }

    .btn-rock {
        background-color: #344E41;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        
        margin-left: 20%;
    }


    .card-text{
        margin-top: -15px;
        text-align: left;
    }

    .btn-reach {
        background-color: #344E41;
        color: white;
        border: none; 
        left: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        margin-top: 5%;
        display: flex;
        align-items: start;
        margin-left: 16%; 
        cursor: pointer;
    
    }

    @media (min-width: 375px) and (max-width: 700px) {
       

        .btn-reach {
            margin-left: 30px;
            margin-top: 10%;
        }

        .container .greeting {
            text-align: center;
            margin: 0 auto;
            
        }
    }

    @media (min-width: 701px)  {
       

       .btn-reach {
           margin-top: 5%;
       }

       
   }

    
</style>

