<div class="container">
    
 <h2 class="subti">My studies 🤵🏽</h2>

 <div class="card mb-3" >
      <div class="row g-0">
          <div class="col-md-4">
             <img src="./src/assets/libro.png" class="figure rounded mt-4"  >
          </div>
          <div class="col-md-8">
              <div class="card-body ">
                  <h3 class="subtitle2">4geeksAcademy</h3>
                  <br>
                  <p class="card-text">Here I learned everything that takes to be a Full-Stack Developer, technologies such as React, JavaScript, Flux, Flask API, Python, PostgreSQL, correct ways to implement Bootstrap
                      <br><br>
                      <h3 class="subtitle2">Universidad Latina of Costa Rica</h3>  
                      <br>
                      Here I turned a Software Engineer, learning the process before the developing process start, I’ve also developed my programming logic, learn techs such as JavaScript, HTML, CSS. 
                      <br><br>
                      Capability to analyze a project inquires, write the requirements, design the workflow of any app.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 5%;
    }
    
    .subti {
        margin: 5% 10% 2% 75%;
        font-weight: bold;
    }

    .card {
        
        background-color: transparent;
        border: none;
        margin: 0 auto;
        width: 70%;
    }

    .figure {
        width: 300px;
        height: 300px;
        margin-left: 10%;
    }

    .subtitle2 {
        font-weight: bold;
        
    }



 @media (max-width: 1293px) { 

        .container {
            overflow: hidden;
        }

        .subti {
            margin-left: 30%;
            padding-top: 3%;
        }

        .figure{
            width: 200px;
            height: 200px;
            margin-left: 20%;
            margin-bottom: 2%;
        }

        
    }
</style>