@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure consistent box model */
    
}

body {
    font-family: 'Inter';
    margin: 0; /* Remove default body margins */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url("./../assets/blob-scene-haikei.svg") center/cover no-repeat;
  
  pointer-events: none;
}

@media (min-width: 701px) and (max-width: 1400px) {
    .container {
        max-width: 100%;
        font-family: "Inter";
    }
}