
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container-navbar{
    font-family: "Inter";
    width : 100%;
    margin : 0 auto; /* Center the navbar  horizontally*/
    font-size: 14px;
}   

.dynamic-text {
  mix-blend-mode: difference;
  color: white; /* or black, depending on your design */
  transition: color 0.2s;
}

.dynamic-text:hover {
  color: #000000; /* Change color on hover */
  mix-blend-mode: normal;
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Centra las opciones horizontalmente */
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
    margin-right: 10%;
}

body.light-mode {
    color: black;
}
body.dark-mode {
    background-color: #000000;
    color: white;
    
}



body.dark-mode .navbar {
    
    background-color: #344e41; /* Light navbar background */
    color: #ffffff; /* Dark navbar text */
    /* background-image: url(./../assets/Positivo_nav.png); */
}

body.dark-mode .card{
    background-color: #030303;
    color: white;
}

body.dark-mode .accordion-item{
    background-color: #000000;
    color: white;
}

body.dark-mode #FAQservices{
    background-color: #000000;
    color: white;
}

body.dark-mode .accordion-header{
    background-color: #000000;
    color: white;
}

body.dark-mode .accordion-button{
    background-color: #000000;
    color: white;
}

@media (min-width: 375px){
    .container-navbar{
        max-width: 100%;
    }
    .logo {
        width: 120px;
        height: auto;
        margin-right: 5%;
        
    }
    
    
    
}