
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container-navbar{
    font-family: "Inter";
    width : 80%;
    margin : 0 auto; /* Center the navbar  horizontally*/
    background-color: #588157;
    font-size: 14px;
    border-bottom: 1px solid #588157;
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Centra las opciones horizontalmente */
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
}

body.light-mode {
    background-color: #f0f0f0;
    color: black;
    

}
body.dark-mode {
    background-color: #000000;
    color: white;
    
}

body.light-mode .navbar {
    background-color: #dad7cd; /* Light navbar background */
    color: #000000; /* Dark navbar text */
    /* background-image: url(./../assets/Principal_nav.png); */
}

body.dark-mode .navbar {
    background-color: #344e41; /* Light navbar background */
    color: #ffffff; /* Dark navbar text */
    /* background-image: url(./../assets/Positivo_nav.png); */
}


@media (min-width: 375px){
    .container-navbar{
        max-width: 100%;
    }
    .logo {
        width: 120px;
        height: auto;
        margin-right: 5%;
        
    }
    
    
    
}